.card {
    margin: 2rem auto;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 24px;
    width: 1100px;
    gap: 24px;
}
.card h5 {
    font-weight: 700;
}
.cardText {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.cardTitle {
    font-weight: 300;
    font-size: 20px;
}

.iconText {
    margin-top: 15px;

    margin-left: 8px;
}