.card {
  position: absolute;
  margin-left: 140px;
  margin-top: -40px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: fit-content;
  border-radius: 8px;
  padding: 0.4rem;
  background-color:white;
}

.ButtonSearch{
  margin-top: 16px;
  height: 37px;
  width: 100px;
}

