.foot {
    margin-top: 120px;
    padding-bottom: 100px;
}
.textFooter {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}
.addres {
    margin-left: -10px;
}
.navFoot {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: 50px;
}
.social {
    margin-left: -20px;
}
.iconSocial {
    margin-right: 16px;
}
.copyright {
    margin-left: -10px;
}
