.light {
    background-color: #F1F3FF;
}

.btn-normal {
    width: 81px;
    height: 36px;
    border: none;
}


/* accordion FAQ */
.accordion {
    margin-left: -90px;
}
.accordion-item {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    margin-bottom: 16px;
    border: 1px solid #d4d4d4 !important;
    border-radius: 4px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(45, 45, 45, 0.689); /* Black background with opacity */
    z-index: 900; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #078035; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    right: 47%;
    top: 40%;
    z-index: 999;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.imgcar {
    height: 270px;

}
@media screen and (max-width: 576px) {
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
}
