.hero {
    background-color: #F1F3FF;
    margin-left: -24px;
  }
.textHero{
    padding-top: 177px;
}
.title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}
.welcome {
    max-width: 450px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}
.car {
    padding-top: 97px;
}

.buttonHero {
    height: 36px;
    width: 140px;
    border: none;

}
@media screen and (max-width: 576px) {

  /* style hero mobile*/
  .hero {
    margin: 0;
    margin-left: 4px;
    padding: 0;
    width: 100%;
    }
    .text-hero {
        padding-top: 100px;
    }
    .car {
        width: 89%;
        padding-top: 24px;
        padding-bottom: 0px;
    }
}