.navText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 32px;
}

.navbar {
    padding: 12px 0px;
    z-index: 5;
}

@media screen and (max-width: 576px) {
    
    /* style sidenavbar */
    .navbar-toggler {
        border: none;
    }
    .navbarNav {
        margin: 0;
        padding: 0;
    }
    .sidenav {
        margin: 0;
        margin-top: -27px;
        padding: 0;
    }
    .navItem {
        margin: 0;
        padding: 0;
        margin-bottom: 6px;
    }
    .navbarBrand {
        margin: 0;
        margin-left: 4px;
        padding: 0;
    }
}