.faq {
    margin-top: 105px;
}
.textFaq {
    text-align: left;
}
.textFaq h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.textFaq p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

