.girl {
    padding-top: 104px;
    width: 459px;
    margin-left: 56px;
}
.ourServices{
    padding-top: 136px;
    padding-left: 50px;
}
.ourServices h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;  
    padding-bottom: 10px;  
}
.ourServices p{
    max-width: 450px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.listServices{
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    text-align: left; 
    list-style: none;
}
.listImg {
    padding-right: 16px;
}

@media screen and (max-width: 576px) {

    .girl {
        width: 252px;
        height: 228px;
        padding: 0px;
        margin: 0px;
    }
    .girlImg {
        width: 100%;
        text-align: center;
        padding-top: 60px;
    }
    .ourServices {
        padding: 0px;
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: left;
    }
}