.jumbotron {
    margin-top: 110px;
    color: white;
    background: #0D28A6;
    justify-content: center;
    text-align: center;
}
.textJumbotron {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}
.textJumbotron h1 {
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}
.textJumbotron p {
    padding-left: 280px;
    padding-right: 280px;
}

.buttonStarted {
    height: 36px;
    width: 140px;
    border: none;

}
