.mainTestimoni h4,
.mainTestimoni p {
  text-align: center;
}

.mainTestimoniCarousel {
  padding-top: 20px;
  border: 50;
}

.mainTestimoniDeks {
  padding-top: 69px;
  padding-left: 49px;
  padding-bottom: 69px;
  padding-right: 46px;
}

.mainTestimoniImages {
  margin-top: 20px;
  padding-bottom: 20px;
}

.mainTestimoniDeks p {
  text-align: left;
}

.mainTestimoniName p {
  font-weight: bold;
  margin-top: -5px;
  padding-left: 4px;
}
.mainTestimoni {
  margin-bottom: 50px;
}

.item {
  background: #F1F3FF;
  height: 270px;
  box-sizing: border-box;
}
