.whyus {
    margin-top: 100px;
    text-align: left;
}
.whyus p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.whyus h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 16px;
}

.card {
    margin-right: 5px;
}
.cardBody{
    padding: 24px;
    text-align: left;
}
.cardTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.cardBody p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
